body {
  font-family: "Roboto Mono", monospace;
  background-color: lightgray;
  background-position: center;
  text-align: center
}

.textInvisible{
  visibility: hidden;
}

button {
  cursor: pointer;
  font-size: 58px;
  background-color: gray;
  border-radius: 12px;
  width: 64px;
  height: 64px;
  vertical-align: middle;
}

button:hover { /*Mouse on top*/
  background-color: lightslategray;
  transform: scale(1.05);
}

button:active { /*Being clicked*/
  background-color: rgb(185, 185, 185);
  transform: scale(0.95);
}
