body {
  font-family: "Roboto Mono", monospace;
  background-color: lightgray;
  background-position: center;
}

.text {
  text-align: center;
}

button {
  text-align: center;
  position: center;
  cursor: pointer;
  font-size: 64px;
  background-color: gray;
  border-radius: 12px;
  width: 64px;
  height: 64px;
}

button:hover { /*Mouse on top*/
  background-color: lightslategray;
  transform: scale(1.05);
}

button:active { /*Being clicked*/
  background-color: rgb(185, 185, 185);
  transform: scale(0.95);
}